header {
    text-align: right;
    padding: 1rem;
}

p {
    margin-bottom: 0;
}

#portrait {
    border-radius: 100%;
}

#rightcol {
    text-align: center;
}

#linksbar {
    list-style-type: none;
}

#footer {
    background-color: whitesmoke;
    margin-top: 2rem;
    padding: 2rem;
}

.bio-section {
    margin-top: 1rem;
}

.workexp-section, .projects-section, .other-section {
    margin-top: 3rem;
}