header {
    text-align: right;
    padding: 1rem 5rem 1rem 1rem;
}

p {
    margin-bottom: 0;
    font-size: large;
}

i {
    margin-left: 1rem;
    margin-right: 0.25rem;
}

#portrait {
    border-radius: 100%;
    margin: 1.5rem;
    max-width: 60%;
}

#leftcol {
    text-align: center;
    opacity: 0.85;
    transition: opacity 250ms 70ms;
}

#leftcol:hover {
    opacity: 1;
    transition: opacity 250ms 70ms;
}

#footer {
    background-color: whitesmoke;
    padding: 2rem;
}

.credits {
    font-size: xx-small;
}

.bio-section {
    margin-top: 1rem;
    padding: 1rem;
}

.workexp-section, .projects-section, .other-section {
    margin-top: 3rem;
    padding: 1rem;
}

.links {
    text-align: left;
    padding-left: 2rem;
}

#leaf {
    max-width: 8%;
    max-height: 8%;
    position: relative;
    left: 110%;
}

#rightcol {
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    #portrait {
      max-width: 30%;
    }

    #leftcol {
        text-align: center;
    }
}